<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977350143472-2dkr1oor0ib72kj9vrf5r7nmiji65394.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977350143472-2dkr1oor0ib72kj9vrf5r7nmiji65394</string>
	<key>API_KEY</key>
	<string>AIzaSyDmyG386n_XhT6SI5ogWJRYk4wue2sag1U</string>
	<key>GCM_SENDER_ID</key>
	<string>977350143472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aryanshrivastava.Flash-Chatt</string>
	<key>PROJECT_ID</key>
	<string>flash-chatt-6e5de</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chatt-6e5de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977350143472:ios:0e6bea0db8f9b291464135</string>
</dict>
</plist>